* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
}

main {
    background-color: #F5F5F5;
    height: 90vh;
    max-width: 800px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    display: flex;
    flex-direction: column;
}
.question h2 {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 19px;
    /* identical to box height */
    color: #293264;
}

.answers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
} 

.answer-button {
    border: 0.8px solid #4D5B9E;
    border-radius: 7.7px;
    
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 5px 15px;
    /* identical to box height */
    text-align: center;
    color: #293264;
}