* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
}

main {
    background-color: #F5F5F5;
    height: 90vh;
    max-width: 800px;
    border-radius: 5px;
}

.question {
    margin-left: 75px;
    display: flex;
    flex-direction: column;
}

.answers {
    display: flex;
    flex-direction: row;
}

.answer-button {
    border: 0.8px solid #4D5B9E;
    border-radius: 7.7px;
    
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10.24px;
    line-height: 12px;
    /* identical to box height */
    
    text-align: center;
    
    color: #293264;
}